.menu_ativo-interna a,
.navegacao_lateral-interna a:hover {
	border-left: 3px solid #378f6e;
}

.interna_conteudo-geral {
	margin-bottom: 60px;
}

.interna_conteudo-geral img {
	padding: 20px 10px;
}
